@media screen and (min-width: 768px){
    .side-bar{
    align-items:start;
    min-width: 25%;
    }
    .top-bar button{
        
        font-size: 16px;
    }
    .element-top-main .first-line-list li{
        flex-basis: calc(100% / 5 - 10px);
    }
    .element-top-main li{
        font-size: 12px;
    }
    #title-main{
        color: white;
        font-size: 22px;
        margin-top: 1rem;
        margin-left: 20px;
    }
    .container-cards{
        justify-content: flex-start;
        margin-left: 10px;
        
    }

    .container-cards .card{
        flex-basis: calc(100% / 4 - 10px); 
        
    }
    .container-cards .card h4{
        color: white;
        font-size: 14px;
    }
        .container-cards .card span{
        color: gray;
        font-size: 14px;
            
    }
    .Create-for{
        display: inline-block;
    }
    .bottom-bar h6{
        font-size: 20px;

    }
    .bottom-bar-left-text{
        font-size: 20px;
        line-height: 1.2;
    }
    .bottom-bar-left-icon{
        flex-direction: row;
        gap: 10px; 
    }
    .fa-bars, .fa-tv{
        display: inline-block;
    }
    .bottom-bar-center .bottom-bar-center__top{
       font-size: 25px;
        
    }
    .bottom-bar-right{
        margin-left: 10%;
    }
    .bottom-bar-right hr{
        width: 100px;
    }

    
}