:root{
    --color1:#000000;
    --color2:rgb(8, 11, 18);
    --main:#141922;
    --line:#ADFF2F;
    --footer:#282828;
}

.container{
    display: flex;
    width: 100%;
}
.side-bar{
    background-color:var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 10%;
    height: 90vh;

}


.element-sidebar-top a{
    color: white;
    gap: 20px;
    
   
}
.logo img[alt$="big"]{    
display: none;
}
.element-sidebar-bottom ul li a span{
    display: inline;
}
.element-sidebar-bottom a{
    color: gray;
    gap: 20px;
    
   
}
 .text-span{
    margin-left: 5px;
    text-align: center;
    display: none;
}
.playlist-top{
display: none;
margin-top: 40px;
}
.playlist-top h3{
    color: white;
    margin-bottom: 20px;
}
.playlist-top .icon{
    color: gray;
}


.element-sidebar-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;   
}


 .element-sidebar-bottom svg{
    fill: gray;
    max-height:40px;
    max-width: 30%;
    margin-left: 10px;  

}
.hr-disp{
    display: none;
}
.layout-right{
    width: 90vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.top-bar{
    background-color:var(--color2) ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;

    position: sticky;
    top: 0;
    z-index: 1;

}
.top-bar button{
background-color: var(--color2);
color: white;
border: 2px solid white;
border-radius: 25%;
max-height: 60px;
padding: 10px;
z-index: 1;
font-size: 12px;
}

.scroll-main{
/*border: 3px solid green;*/
display: flex;
flex-direction: column;
background-color: var(--main);
height: 90vh
}
.element-top-main{
    display: flex;
    flex-direction: column;
    
}
.element-top-main ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;  
    flex-wrap: wrap;
    flex-grow: 1;  
}
.element-top-main .first-line-list li{
    flex-basis: calc(100% / 4 - 10px);
}
.underline{
    border-bottom: 2px solid var(--line);
   
}
.element-top-main a{
    color:gray ;  
}
.element-top-main li{
    font-size: 7px;
}




